<form id="loginForm" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-12">
      <div class="logo">
        <img
          [src]="
            currentTheme === 'dark' ||
            currentTheme === 'cosmic' ||
            currentTheme === 'material-light' ||
            currentTheme === 'material-dark'
              ? 'assets/img/white-logo.png'
              : 'assets/img/default-logo.png'
          "
          alt="Logo Panther DS"
          title="Panther DS"
        />
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <pds-nebular-input
          [style]="'basic'"
          [type]="'text'"
          [size]="'large'"
          [shape]="'semi-round'"
          formControlName="email"
          name="usuario"
          label="Usuário"
          placeholder="Usuário"
          required
          errorMessage="É obrigatório preencher o usuário"
        >
        </pds-nebular-input>
      </div>

      <div class="form-group">
        <pds-nebular-input
          [style]="'basic'"
          [type]="'password'"
          [size]="'large'"
          [shape]="'semi-round'"
          formControlName="password"
          name="senha"
          label="Senha"
          placeholder="Senha"
          required
          errorMessage="É obrigatório preencher a senha"
        >
        </pds-nebular-input>
      </div>

      <div class="form-group">
        <pds-nebular-button
          [buttonVisible]="true"
          [buttonFullWidth]="true"
          [nativeType]="'submit'"
          [buttonType]="'primary'"
          [buttonText]="'Acessar'"
          [buttonSize]="'large'"
          [buttonShape]="'semi-round'"
          [buttonTitle]="'Acessar'"
          [buttonId]="'login'"
          [buttonClass]="'float-right'"
          [buttonDisabled]="loading || !f.email.value || !f.password.value"
        >
        </pds-nebular-button>
      </div>
    </div>

    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
  </div>
  <section class="another-action" aria-label="Register">
    <span>Ainda não tem uma conta? </span>
    <a role="button" class="signup-link-decoration pointer" (click)="signup()"
      >Registre-se</a
    >
  </section>
  <div class="col-md-12 col-sm-12 divisor">
    <span>{{ 'Panther DS' }}</span>
  </div>
</form>
