<div class="row">
  <div
    class="col-md-12"
    #dxbc
  >
    <dx-chart
      [id]="chartId"
      [dataSource]="dataSource"
      [palette]="colorScheme"
      [adaptiveLayout]="{
        width: dxbc.offsetWidth-100
      }"
    >

      <dxo-common-series-settings
        argumentField="contribuinte"
        valueField="divida"
        type="bar"
      >
      </dxo-common-series-settings>

      <dxo-series-template nameField="name">
      </dxo-series-template>

      <dxo-legend
        verticalAlignment="bottom"
        horizontalAlignment="center"
      >
      </dxo-legend>

      <dxo-export [enabled]="true"></dxo-export>

    </dx-chart>
  </div>
</div>
